<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA4GHvKTNHk0CiL-_HvBl-GM1ZioNzMmWo</string>
	<key>GCM_SENDER_ID</key>
	<string>183693759680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.boxcodes</string>
	<key>PROJECT_ID</key>
	<string>boxn-bc8fa</string>
	<key>STORAGE_BUCKET</key>
	<string>boxn-bc8fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183693759680:ios:22396060f89f92a0f58925</string>
</dict>
</plist>